<header class="home-header">
    <div class="header-container">

        <div class="brand-logo">
            <h1 id="brand">MovieHub</h1>
            <p id="brand-tagline">Discover. Track. Enjoy.</p>
        </div>

        <nav class="navbar">
            <ul class="nav-items">
                <li class="nav-item"><a href="#">Home</a></li>
                
                <li class="nav-item"><a href="#content-section">Browse</a></li>
                
                <li class="nav-item"><a href="../includes/favorites.html">Favorites</a></li>
                <li class="nav-item"><a href="../includes/personalized.html">Personalized</a></li>
                
                <li class="nav-item">
                    <button id="theme-btn" style="background:transparent; border:1px solid var(--text-main); color:var(--text-main); padding: 5px 15px; border-radius: 20px; cursor: pointer; transition: 0.3s;">
                        ☀ Day Mode
                    </button>
                </li>
            </ul>
        </nav>

    </div>
</header>